/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  background-color: #221B11;
  height: 80vh;
  overflow: auto;
  border-radius: 30px;
  margin: 10px auto ;
}

.graph {
  width: 40%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}