@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

/* pagina graficos */
body{
  font-family: 'Noto Sans', sans-serif;

}

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  background-color: #221B11;
  height: 80vh;
  overflow: auto;
  border-radius: 30px;
  margin: 10px auto ;
}

.graph {
  width: 40%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
#bttEnviar{
  color: #221B11;
  font-size: 1rem;
  border: 2px solid black;
  font-weight: 600;
  border-radius: 10px;
}
#bttEnviar:hover{
  background-color: #212124;
  color: #fcfff7;
}