html {
    font-size: 18px;
}
.banner{
    background-image: url(../assets/imgs/img_de_fundo_perfil.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.banner .container{
    width: 80%;
}
.banner .corDeFundo{
    border: 0.3rem solid black;
    background-color: #fcfff7;
}
.perfil{
    text-align: start;
    margin: 1.2rem;
    font-size: 1.5rem;
}
.perfil img{
    width: 8.5rem;
    border-radius: 50%;
    border: 0.2rem solid black;
}
.perfil p {
    margin: 0.8rem;
}