html {
    font-size: 18px;
}

.banner {
    background-image: url(../assets/imgs/img_de_fundo_perfil.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.banner .container {
    width: 80%;
}

.banner .corDeFundo {
    border: 0.3rem solid black;
    background-color: #fcfff7;
}

.perfil {
    text-align: center;
    margin: 1.2rem;
    font-size: 1.5rem;
}

.perfil img {
    width: 8.5rem;
    border-radius: 50%;
    border: 0.2rem solid black;
}

.perfil p {
    margin: 0.8rem;
}

.div-form {
    color: #fcfff7;
    margin: auto;
    background-color: #221B11;
    width: 40%;
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;

}

.corDeFundo h2 {
    text-align: center;
    color: #000;
    font-size: 2rem;
}

.div-form h2 {
    text-align: center;
    color: #fcfff7;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.div-form input {
    height: 20px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

.div-form p {
    text-align: center;

}

.div-results {
    width: 90%;
    margin: auto;
    background-color: #221B11;
    border: 3px solid #000;
    border-radius: 2.5rem;
    color: #fcfff7;
}

#feed_container {
    padding: 1rem;
}

.feed-item {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid #fcfff7;
    border-radius: 1rem;
    align-items: center;
    margin: 8px 0;
}

.feed-item span {
    margin-top: 0.5rem;
    width: 8rem;
}