@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

html {
    font-size: 18px;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    background-color: #fcfff7;
}

/**/

/*Começo da Padronização*/
.container {
    display: flex;
    margin: auto;
    width: 95%;
}

.bttLink {
    transition-duration: 1.2ms;
}

.bttLink:hover {
    border-bottom: 2px solid #221B11;
    font-size: 1.15rem;
}

.bttLinkInterno {
    transition: width 1.2ms;
}

.bttLinkInterno:hover {
    border-bottom: 2px solid #221B11;
    font-size: 1.15rem;
}


/*Final da Padronização*/

/*Começo do Header*/
.header {
    flex-direction: row;
    background-color: #fcfff7;
    border-bottom: 3px solid black;
}

.header .container {
    height: 5.5rem;
    justify-content: space-between;
    align-items: center;
}

.header .container img {
    height: 5.5rem;
    max-width: 100%;
}

.navBar {
    list-style: none;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

.navBar a {
    color: #221B11;
    text-decoration: none;
    font-weight: 700;
}


/*Final do Header*/

/*Começo do Banner*/
.banner {
    width: 100%;
    align-items: center;
    background-image: url(../assets/imgs/img-de-fundo.jpeg);
}

.banner .corDeFundo {
    margin-top: 3%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.83rem;
    margin-bottom: 3%;
    border: 0.3rem solid black;
}

.banner .container {
    width: 70%;
}

.texto {
    margin: 0.83rem;
    font-size: 1.66rem;
    text-align: center;
    color: #fcfff7;
}

.texto .navBar {
    font-size: 18px;
}

.texto span {
    font-size: 2.3rem;
    font-weight: 600;
    margin: 0;
    border-bottom: 0.3rem solid #000000;
}

/*Final do Banner*/

/*Começo dos cards*/
.card {
    text-align: center;
    width: 8.3rem;
    height: 8.3rem;
    margin: 0;
    border: 0.2rem solid rgba(87, 89, 87, 1);
    margin-bottom: 1%;
}

.card p {
    margin: 0;
    color: #fcfff7;
}

.texto .navBar {
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
}

.card img {
    height: 5.5rem;
    width: 5.5rem;
}

/*Final dos Cards*/

/*Começo da Wiki*/
.wiki {
    display: flex;
    font-size: 1.2rem;
    text-align: start;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.wiki p {
    margin: 0.8rem 0;
}

.wiki ul {
    margin: 0;
}

.wiki-table {
    background: none;
    border: 1px solid #555555;
    border-collapse: collapse;
    border-radius: 3px;
    border-spacing: 0;
    display: table;
    background-color: #3a3a3a;
    margin-right: auto;
}

.wiki caption {
    border: solid #555555;
    background-color: #3a3a3a;
    border-width: 1px 1px 0;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.75;
    padding: 8px 12px;
}
.wiki .table-header{
    box-shadow: 0 0 10px 0 rgb(30 12 27 / 20%);
    outline: 1px solid #555555;
    position: relative;
}
.wiki th, td{
    border: 1px solid #555555;
    padding: 12px;
    vertical-align: middle;
}
/*Final da Wiki*/

/*Começo do Footer*/
.footer {
    border-top: 3px solid black;
    height: 10rem;
}

.footer .container {
    justify-content: space-between;
    text-align: center;
    color: #221B11;
}

.footer img {
    height: 5.5rem;
    max-width: 100%;
}

.container .footerItem {
    width: 33%;
}

.footerItem h2 {
    margin: 5% 0;
}

.footerItem p {
    margin-top: 0;
}

.navFooter {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navFooter a {
    color: #221B11;
    text-decoration: none;
}

.navFooter img {
    height: 1.1rem;
    max-width: 100%;
}


/*Final do Footer*/

/*Responsividade*/
@media screen and (min-width: 800px) {
    .bttLink {
        border: 2px solid #221B11;
        padding: 12px;
        border-radius: 5px;
    }

    .bttLink:hover {
        background-color: #221B11;
        padding: 12px;
        border-radius: 5px;
        color: #fcfff7;
    }

    .navFooter a {
        font-size: 1.1rem;
    }

    .navFooter span {
        font-size: 1.2rem;
    }
}