@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

html {
    font-size: 18px;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    background-color: #fcfff7;
}

/**/

/*Começo da Padronização*/
.container {
    display: flex;
    margin: auto;
    width: 95%;
}

.bttLink {
    transition-duration: 1.2ms;
}

.bttLink:hover {
    border-bottom: 2px solid #221B11;
    font-size: 1.15rem;
}

.bttLinkInterno {
    transition: width 1.2ms;
}

.bttLinkInterno:hover {
    border-bottom: 2px solid #221B11;
    font-size: 1.15rem;
}


/*Final da Padronização*/

/*Começo do Header*/
.header {
    flex-direction: row;
    background-color: #fcfff7;
    border-bottom: 3px solid black;
}

.header .container {
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.header .container img {
    height: 100px;
    max-width: 100%;
}

.navBar {
    list-style: none;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

.navBar a {
    color: #221B11;
    text-decoration: none;
    font-weight: 700;
}


/*Final do Header*/

/*Começo do Banner*/
.banner {
    width: 100%;
    align-items: center;
    background-image: url(https://static.wikia.nocookie.net/create_mod/images/0/08/Site-background-dark/revision/latest?cb=20210809162741);
}

.banner .corDeFundo {
    margin-top: 3%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.83rem;
    margin-bottom: 3%;
    border: 0.50rem solid black;
}

.banner .container {
    width: 70%;
}

.texto {
    margin: 0.83rem;
    font-size: 1.66rem;
    text-align: center;
    color: #fcfff7;
}

.texto .navBar {
    font-size: 18px;
}

.texto span {
    font-size: 2.3rem;
    font-weight: 600;
    margin: 0;
    border-bottom: 0.3rem solid #000000;
}

/*Final do Banner*/

/*Começo dos cards*/
.card {
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0;
    border: 0.2rem solid rgba(87, 89, 87, 1);
    margin-bottom: 1%;
}

.card p {
    margin: 0;
}

.texto .navBar {
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
}

.card img {
    height: 100px;
    width: 100px;
}

/*Começo do Footer*/
.footer{
    border-top: 3px solid black;
    height: 175px;
}
.footer .container {
    justify-content: space-between;
    text-align: center;
    color: #221B11;
}

.footer img {
    height: 100px;
    max-width: 100%;
}

.container .footerItem {
    width: 33%;
}

.footerItem h2 {
    margin: 5% 0;
}

.footerItem p {
    margin-top: 0;
}

.navFooter {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navFooter a {
    color: #221B11;
    text-decoration: none;
}

.navFooter img {
    height: 20px;
    max-width: 100%;
}


/*Final do Footer*/

/*Responsividade*/
@media screen and (min-width: 800px) {
    .bttLink {
        border: 2px solid #221B11;
        padding: 12px;
        border-radius: 5px;
    }

    .bttLink:hover {
        background-color: #221B11;
        padding: 12px;
        border-radius: 5px;
        color: #fcfff7;
    }

    .navFooter a {
        font-size: 1.1rem;
    }

    .navFooter span {
        font-size: 1.2rem;
    }
}